<?xml version="1.0"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>url</key>
                        <string>https://xingshun365.oss-cn-beijing.aliyuncs.com/__UNI__0D9709E_0528165113.ipa</string>
 
                        <key>kind</key>
                        <string>software-package</string>
                    </dict>
                </array>
 
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.baidu.idg.itr</string>
 
                    <key>title</key>
                    <string>ITR售后</string>
 
                    <key>bundle-version</key>
                    <string>133</string>
 
                    <key>kind</key>
                    <string>software</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>